services:
  # =======================
  # ACCOUNTS SERVICE
  # =======================
  accounts:
    # Build using Dockerfile (traditional way)
    build:
      context: ../Accounts
      dockerfile: Dockerfile
    image: accounts-dockerfile-img
    container_name: accounts-dockerfile-container
    ports:
      - "8081:8081"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - dockernetwork

  # =======================
  # CARDS SERVICE
  # =======================
  cards:
    image: cards-buildpack-img
    container_name: cards-buildpack-container
    ports:
      - "8082:8082"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - dockernetwork
  # =======================
  # LOANS SERVICE
  # =======================
  loans:
    image: loans-jib-img
    container_name: loans-jib-container
    ports:
      - "8083:8083"
    deploy:
      resources:
        limits:
          memory: 512M
    networks:
      - dockernetwork
networks:
  dockernetwork:
    driver: "bridge"
